* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  margin: 0;
}
ul {
  list-style: none;
}
body {
  padding: 50px 0;
  background: url("../img/pattern.png");
  color: #787078;
  font: normal 100% 'Oswald';
}
.container-fluid {
  max-width: 1140px;
}
.nav-tabs {
  margin: 0 0 -6px 0;
}
.nav-tabs .nav-tabs__item {
  width: 25%;
  height: 50px;
}
.nav-tabs .nav-tabs__item a {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #fff;
  font: bold 24px 'Oswald';
  text-align: center;
  text-transform: uppercase;
}
.nav-tabs .nav-tabs__item a:hover {
  border: none;
  background: none;
  color: #fff;
}
.nav-tabs .nav-tabs__item.active,
.nav-tabs .nav-tabs__item:hover {
  z-index: 3;
  background-position: 0 -50px;
}
.nav-tabs .nav-tabs__item.active a,
.nav-tabs .nav-tabs__item:hover a {
  border: none;
  background: none;
  border-radius: 0;
  color: #fff;
}
.nav-tabs .nav-tabs__item.active a:hover,
.nav-tabs .nav-tabs__item:hover a:hover {
  background: none;
  border: none;
  color: #fff;
}
.nav-tabs .nav-tabs__item--item0 {
  background: url("../img/tab-bg1.png") repeat-x;
}
.nav-tabs .nav-tabs__item--item1 {
  background: url("../img/tab-bg2.png") repeat-x;
}
.nav-tabs .nav-tabs__item--item2 {
  background: url("../img/tab-bg3.png") repeat-x;
}
.nav-tabs .nav-tabs__item--item3 {
  background: url("../img/tab-bg4.png") repeat-x;
}
.panel-group .nav-tabs__item--item0 .panel-heading {
  background: url("../img/tab-bg1.png") repeat-x;
}
.panel-group .nav-tabs__item--item1 .panel-heading {
  background: url("../img/tab-bg2.png") repeat-x;
}
.panel-group .nav-tabs__item--item2 .panel-heading {
  background: url("../img/tab-bg3.png") repeat-x;
}
.panel-group .nav-tabs__item--item3 .panel-heading {
  background: url("../img/tab-bg4.png") repeat-x;
}
.tab-content {
  position: relative;
  z-index: 2;
  background: #fff;
}
.tab-pane {
  min-height: 400px;
  padding: 30px 0;
  border-top: 3px solid #808080;
  border-right: 2px solid #808080;
  border-bottom: 2px solid #808080;
  border-left: 2px solid #808080;
}
.form-item {
  margin: 0 0 10px 0;
  text-align: center;
}
.form-item label {
  width: 140px;
  font-size: 18px;
  text-align: left;
}
.form-item .ask-label--text-shadow {
  width: 220px;
}
.input-text,
.input-text--adv {
  width: 190px;
  height: 30px;
  padding: 0 5px;
  color: #010101;
  font-size: 14px;
}
.input-text[disabled],
.input-text--adv[disabled] {
  border: 1px solid #b9bdc4;
  background: none;
}
.input-text--green,
.input-select--green {
  border: 2px solid #659c82;
}
.input-text--blue,
.input-select--blue {
  border: 2px solid #6b98cd;
}
.button-wrap {
  padding: 30px 0;
  text-align: center;
}
.button-wrap button {
  padding: 10px;
  color: #000;
  font-size: 16px;
}
