/*Фон слайдера*/
.slider
  position relative
  display inline-block
  width 150px
  height 20px
  margin 0
  padding 0 10px
  background #b9bdc4
  &.green
    .ui-slider-handle
      background-position 0 0
    .ui-widget-header
      background #659c82
  &.blue
    .ui-slider-handle
      background-position 0 -72px
    .ui-widget-header
      background #80afd7
  &.red
    .ui-slider-handle
      background-position 0 -48px
    .ui-widget-header
      background #db7d7b
  &.yellow
    .ui-slider-handle
      background-position 0 -24px
    .ui-widget-header
      background #ecca6c

.ui-slider-handle
  width 36px
  height 36px
  position absolute
  top -7px
  margin-left -12px
  z-index 200
  background orange no-repeat
  color #ffffff
  outline none
  text-align center
  line-height 36px
  font-size 12px
  border-radius 50%
  cursor pointer


/*Элемент div результата, в котором выводится значение слайдера*/
#slider-result {
  font-size:50px;
  height:200px;
  font-family:Arial, Helvetica, sans-serif;
  color:#fff;
  width:250px;
  text-align:center;
  text-shadow:0 1px 1px #000;
  font-weight:700;
  padding:20px 0;
}

/*Полоска заполнителя слайдера*/
.ui-widget-header {
  height:20px;
  left: 0px;
  top: 0px;
  position:absolute;
}

a {
  outline:none;
  -moz-outline-style:none;
}

